.news__block
  margin-right 250px
  box-shadow 0 0 10px 0 $linkColor
  background-color $newsColorLight
  color $fontColor
.news
  padding 0 1.875rem 2.2rem
.news__header
  display flex
  margin-bottom 30px
.news__title
  font-weight bold
  font-size 1.5em
  line-height 1.4
  margin 0 0 5px
.news__date
  font-size .9em
  font-style italic
  color $newsColorDate
.news__title-image
  min-width 150px
  margin-left 30px