<nav class="header__menu">
    <ul class="header__menu-list">
        <li class="header__menu-item"><a href="#" class="header__menu-link"><span class="header__menu-text">Форум</span></a>
        </li>
        <li class="header__menu-item">
            <a href="#" class="header__menu-link"><span
                    class="header__menu-text header__menu-text_dashed">Игры</span></a>
            <ul class="header__submenu">
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item header__submenu-item_with-subsubmenu"><a href="#" class="header__submenu-link">Dragonage</a>
                    <ul class="header__subsubmenu">
                        <li class="header__submenu-item"><a href="#" class="header__submenu-link">Еще драгонага</a></li>
                        <li class="header__submenu-item"><a href="#" class="header__submenu-link">больше драгонаги</a></li>
                        <li class="header__submenu-item"><a href="#" class="header__submenu-link">Еще больше драгонаги</a></li>
                        <li class="header__submenu-item"><a href="#" class="header__submenu-link">Еще драгонага. Она клевая...</a></li>
                        <li class="header__submenu-item"><a href="#" class="header__submenu-link">Еще драгонага. Всем играть</a></li>
                    </ul>
                </li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
            </ul>
        </li>
        <li class="header__menu-item">
            <a href="#" class="header__menu-link"><span class="header__menu-text header__menu-text_dashed">Статьи</span></a>
            <ul class="header__submenu">
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
                <li class="header__submenu-item"><a href="#" class="header__submenu-link">Dragonage</a></li>
            </ul>
        </li>
        <li class="header__menu-item"><a href="#" class="header__menu-link"><span
                class="header__menu-text header__menu-text_dashed">Видео</span></a></li>
        <li class="header__menu-item"><a href="#" class="header__menu-link"><span
                class="header__menu-text header__menu-text_dashed">Галерея</span></a></li>
        <li class="header__menu-item"><a href="#" class="header__menu-link"><span
                class="header__menu-text header__menu-text_dashed">Файлы</span></a></li>
        <li class="header__menu-item"><a href="#" class="header__menu-link"><span class="header__menu-text">О Bioware</span></a>
        </li>
    </ul>
</nav>