<nav class="slider">
    <button class="slider__control slider__control_left" title="Влево"></button>
    <div class="slider__list">
        <div class="slider__list-items">
            <a class="slider__list-item" href="#">
                <span class="slider__image" style="background-image: url(/img/slider__sonic.png)">Sonic</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bg.png)">BG</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bwb.png)">BW</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__da.png)">DA</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__sonic.png)">Sonic</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bg.png)">BG</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bwb.png)">BW</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__da.png)">DA</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__sonic.png)">Sonic</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bg.png)">BG</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bwb.png)">BW</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__da.png)">DA</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__sonic.png)">Sonic</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bg.png)">BG</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__bwb.png)">BW</span></a>
            <a class="slider__list-item" href="#"><span class="slider__image"
                                                        style="background-image: url(/img/slider__da.png)">DA</span></a>
        </div>
    </div>
    <button class="slider__control slider__control_right" title="Вправо"></button>
</nav>
