.search__input
  vertical-align top
  background-color white
  border none
  outline none
  font-size 0.9em
  width 160px
  padding 8px
  border-radius 2px
.search__magnifier
  background url(search__magnifier.png) 50% 50% no-repeat, transparent
  width 30px
  height 33px
  border none
  outline none
  cursor pointer
