{% set multiple = 1/(poll.results[0]>0?poll.results[0].result:1) %}
{% for opt in poll.results %}
    {% if  (1/(opt.result>0?opt.result:1) < multiple) %}
        {% set multiple = 1/(opt.result>0?opt.result:1) %}
    {% endif %}
{% endfor %}
{% for opt in poll.results %}
    <div>
        {{ opt.text }}
        <div class="sidebar__poll-result-item">
            <span class="sidebar__result-number">{{ opt.result * 100 }}%</span>
            <div class="sidebar__poll-bar" style="width: {{ opt.result * 100 * multiple }}%"></div>
        </div>
    </div>
{% endfor %}