{% set multiple = 1/(poll.results[0].result) %}
{% for opt in poll.results %}
    {% if  (1/(opt.result) < multiple) %}
        {% set multiple = 1/(opt.result) %}
    {% endif %}
{% endfor %}
{% for opt in poll.results %}
    <div class="sidebar__poll-result-item">
        {{ opt.text }} <br/>
        <span class="sidebar__result-number">{{ opt.result * 100 }}%</span>
        <div class="sidebar__poll-bar" style="width: {{ opt.result * 100 * multiple }}%"></div>
    </div>
{% endfor %}