<form action="/search/index.html" class="search {{ mix }}">
  <input class="search__input" type="search" placeholder="Поиск" name="q" value="{{ query }}">
  <button class="search__magnifier"></button>
</form>
