{% include 'b-skin.twig' %}
{% include 'b-auth.twig' with {"user":user.getUser} %}
<div class="sidebar__content-wrp">
    {% include 'b-search.twig' %}
    <div class="sidebar__image">
        {{ ads.getAd()|raw }}
    </div>
    <div class="sidebar__image">
        {{ ads.getAd()|raw }}
    </div>
    {% include 'b-poll.twig' %}
    <div class="sidebar__image">
        {{ ads.getAd()|raw }}
    </div>
    <div class="sidebar__image">
        {{ ads.getAd()|raw }}
    </div>
</div>