{% include 'b-skin.twig' %}
{% include 'b-auth.twig' with {"member":user.getUser} %}
<div class="sidebar__content-wrp">
    {% include 'b-search.twig' %}
    {% include 'b-banner.twig' with {"ad":ads.getAd} %}
    {% include 'b-banner.twig' with {"ad":ads.getAd} %}
    {% include 'b-poll.twig' %}
    {% include 'b-banner.twig' with {"ad":ads.getAd} %}
    {% include 'b-banner.twig' with {"ad":ads.getAd} %}
</div>