{% include 'b-skin.twig' %}
{% include 'b-auth.twig' with {"user":user.getUser} %}
<div class="sidebar__content-wrp">
    {% include 'b-search.twig' %}
    <div class="sidebar__image">
        <img src="http://www.bioware.ru/images/donate_2.png" alt="banner"/>
    </div>
    <div class="sidebar__image">
        <img src="https://mmedia.ozone.ru/multimedia/audio_cd_covers/1010094281.jpg" alt="banner"/>
    </div>
    {% include 'b-poll.twig' %}
    <div class="sidebar__image">
        <img src="https://mmedia.ozone.ru/multimedia/audio_cd_covers/1010094281.jpg" alt="banner"/>
    </div>
    <div class="sidebar__image">
        <img src="http://uploads.bioware.ru/banners/e6360-1411998405.jpg" alt="banner"/>
    </div>
</div>