<div class="skin" id="skin">
    <button class="skin__item skin__item_default skin__item_active" data-name="default"
            title="Страндартный"></button>
    <button class="skin__item skin__item_dark" data-name="dark" title="May the Force be with you"></button>
    <button class="skin__item skin__item_help" data-name="help" title="Contrast theme"></button>
    <button class="skin__item skin__item_pony" data-name="pony" title="Friendship is Magic"></button>
    <button class="skin__item skin__item_soft" data-name="soft"
            title="Soft and delicate shade or colors"></button>
</div>
{% include 'b-auth.twig' with {"user":user.getUser} %}
<div class="sidebar__content-wrp">
    {% include 'b-search.twig' %}
    <div class="sidebar__image">
        <img src="http://www.bioware.ru/images/donate_2.png" alt="banner"/>
    </div>
    <div class="sidebar__image">
        <img src="https://mmedia.ozone.ru/multimedia/audio_cd_covers/1010094281.jpg" alt="banner"/>
    </div>
    {% include 'b-poll.twig' %}
    <div class="sidebar__image">
        <img src="https://mmedia.ozone.ru/multimedia/audio_cd_covers/1010094281.jpg" alt="banner"/>
    </div>
    <div class="sidebar__image">
        <img src="http://uploads.bioware.ru/banners/e6360-1411998405.jpg" alt="banner"/>
    </div>
</div>