<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="vievport" content="width=device-width"/>
    <title>{{ this.pageTitle }}</title>
    {% if production == true %}
        <link rel="stylesheet" href="/css/style_default.min.css" id="stylesheet">
    {% else %}
        <link rel="stylesheet" href="/css/style_default.css" id="stylesheet">
    {% endif %}
  </head>
  <body class="body_me3">
    <header class="header">
      <div class="header__content">
        <a href="/" class="header__logo-link"><img src="/img/header__logo.png" alt="logo"/></a>
        <nav class="header__menu">
          {% include 'b-menu.twig' with {'menu': menu.getMenu, 'level':0} %}
        </nav>
      </div>
    </header>

    {% include 'b-slider.twig' %}

    <div class="page-layout">
      <main class="page-layout__content">
      {% block content %}{% endblock %}
    </main>
    <aside class="page-layout__sidebar">
      {% include 'b-sidebar.twig' %}
    </aside>
  </div>

  {% include 'b-footer.twig' %}

  <div class="popup__wrp">
    <div class="popup">
      <form class="popup__login-form" action="">
        <input class="popup__text-input" type="text" placeholder="Логин" required name="login"/>
        <input class="popup__text-input" type="password" placeholder="Пароль" required/>
        <button class="popup__button" type="submit">Войти!!!!!</button>
      </form>
    </div>
  </div>

  {% if production == true %}
      <script src="/js/script.min.js"></script>
  {% else %}
      <script src="/js/script.js"></script>
      <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}
</body>
</html>
