{% extends "layout/layout.twig" %}

{% block content %}
<div class="article__block">
    <nav class="breadcrumbs__block">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="index.html">Новости</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#"> Dragon Age: Inquisition </a>
            </li>
            <li class="breadcrumbs__item">
                Dragon Age: Inquisition — Дополнение для коллективной игры «Драконоборец»
            </li>
        </ul>
    </nav>
    <article class="article">
        <header class="article__header">
            <div>
                <h2 class="article__title">
                    Важно! www.BioWare.ru — Творческий конкурс «Тедас, любовь моя» с призами от Zowie Gear и
                    PrintPers
                </h2>
                <time class="article__date" datetime="">05.12.2014, 14:47:31</time>
            </div>
            <a class="article__title-image" href="#"
               title="Dragon Age: Inquisition">
                <img width="150" src="http://assets.bioware.ru/images/games/small/dragon_age_3.png"
                     alt="Dragon Age: Inquisition">
            </a>
        </header>
        <div class="b-text">
            <p>
            Дополнение «Черный магазин» для <a href="#">Dragon Age: Inquistion</a>, которое многие ожидают с нетерпением, выйдет
            уже 5-го мая. Информация о дополнении появилась в Origin, которой с нами поделились пользователи,
            задействованные в тестировании 7-ого патча.</p>
            <p>
            Потратьте кровью заработанное золото в Черном магазине. В четырех высокоуровневых магазинах вы
            найдете высокоуровневое оружие, редкие материалы, эскизы и не только. А еще там можно взглянуть в
            зеркало превращений и изменить внешность. Отпустите своему Инквизитору бороду, состригите волосы или
            просто закупитесь ценностями.</p>
            <p>
            Совершенно новое место. В Черный магазин, состоящий из четырех отделов и управляемый Ксеноном
            Антикваром, можно попасть через стол ставки командования.</p>
            <p>
            Закупитесь редкостями. В Черном магазине продается множество полезных вещиц, в том числе эпическое
            оружие, чудодейственные аксессуары, новые материалы для ремесла, эскизы и прочие редкости.
            Измените внешность. Придайте Инквизитору новый облик, заглянув в Черный магазин и воспользовавшись
            зеркалом превращения.</p>
            <p>
            Тех, кто играл в Dragon Age: Origins или Dragon Age II, ждет дополнительный бонус — два новых трона
            для Скайхолда. Чтобы получить эти троны в подарок, загрузите и установите последнее обновление игры
            Dragon Age: Inquistion.
            </p>
        </div>
        <footer class="article__footer">
            <div class="article__footer-controls">
                <div class="article__share yashare-auto-init" data-yashareL10n="ru"
                     data-yashareQuickServices="vkontakte,facebook,twitter,gplus"
                     data-yashareTheme="counter"></div>
                <a class="article__comments" href="#">49 комментариев</a>
            </div>
        </footer>
    </article>
</div>
{% endblock %}
