{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div>
                    <h1 class="article__title">
                        Страница не найдена
                    </h1>
                </div>
            </header>
            Возможно, она была удалена, а может её и вовсе никогда не было. Попробуйте воспользоваться поиском или
            просто вернуться на <a href="/">главную</a>.
        </article>
    </div>
{% endblock %}
