{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div class="article__title-wrap">
                    <h1 class="article__title">
                        {{ article.title|raw }}
                    </h1>
                    <span class="article__date"> {{ article.author.name }},</span>
                    <time class="article__date" datetime="">{{ article.date|date("d.m.Y H:i:s") }}</time>
                </div>
            </header>

            <div class="b-text">
                {{ content.replacePlaceholders(article.text)|raw }}
            </div>

            <footer class="article__footer">
                <div class="article__footer-controls">
                    {% include 'b-likes.twig' with {'url':article.publicUrl} %}
                </div>
            </footer>
        </article>
    </div>
{% endblock %}
