{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div>
                    <h1 class="article__title">Файловый архив — скачать бесплатно без смс и регистрации</h1>
                </div>
            </header>

            <div class="files files_index">
                <div class="files__cat">
                    <ul class="files__list">
                        <li class="files__item">
                            <h2 class="files__title">
                                <a class="files__link" href="#">Dragon Age: Inquisition</a>
                            </h2>
                            <ul class="files__list">
                                <li class="files__item"><a class="files__link" href="#">Видео</a></li>
                                <li class="files__item"><a class="files__link" href="#">Геймплей</a></li>
                                <li class="files__item"><a class="files__link" href="#">Книги</a></li>
                                <li class="files__item"><a class="files__link" href="#">Разное</a></li>
                                <li class="files__item"><a class="files__link" href="#">Трейлеры</a></li>
                                <li class="files__item"><a class="files__link" href="#">Патчи</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="files__cat">
                    <ul class="files__list">
                        <li class="files__item">
                            <h2 class="files__title">
                                <a class="files__link" href="#">Knights of the Old Republic</a>
                            </h2>
                            <ul class="files__list">
                                <li class="files__item"><a class="files__link" href="#">Видео</a></li>
                                <li class="files__item"><a class="files__link" href="#">Геймплей</a></li>
                                <li class="files__item"><a class="files__link" href="#">Книги</a></li>
                                <li class="files__item"><a class="files__link" href="#">Разное</a></li>
                                <li class="files__item"><a class="files__link" href="#">Трейлеры</a></li>
                                <li class="files__item"><a class="files__link" href="#">Патчи</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="files__cat">
                    <ul class="files__list">
                        <li class="files__item">
                            <h2 class="files__title">
                                <a class="files__link" href="#">Mass Effect</a>
                            </h2>
                            <ul class="files__list">
                                <li class="files__item"><a class="files__link" href="#">Видео</a></li>
                                <li class="files__item"><a class="files__link" href="#">Геймплей</a></li>
                                <li class="files__item"><a class="files__link" href="#">Книги</a></li>
                                <li class="files__item"><a class="files__link" href="#">Разное</a></li>
                                <li class="files__item"><a class="files__link" href="#">Трейлеры</a></li>
                                <li class="files__item"><a class="files__link" href="#">Патчи</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>


                <div class="files__cat">
                    <ul class="files__list">
                        <li class="files__item">
                            <h2 class="files__title">
                                <a class="files__link" href="#">Mass Effect 3</a>
                            </h2>
                            <ul class="files__list">
                                <li class="files__item"><a class="files__link" href="#">Видео</a></li>
                                <li class="files__item"><a class="files__link" href="#">Геймплей</a></li>
                                <li class="files__item"><a class="files__link" href="#">Книги</a></li>
                                <li class="files__item"><a class="files__link" href="#">Разное</a></li>
                                <li class="files__item"><a class="files__link" href="#">Трейлеры</a></li>
                                <li class="files__item"><a class="files__link" href="#">Патчи</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="files__cat">
                    <ul class="files__list">
                        <li class="files__item">
                            <h2 class="files__title">
                                <a class="files__link" href="#">Knights of the Old Republic 2: The Sith Lords</a>
                            </h2>
                            <ul class="files__list">
                                <li class="files__item"><a class="files__link" href="#">Видео</a></li>
                                <li class="files__item"><a class="files__link" href="#">Геймплей</a></li>
                                <li class="files__item"><a class="files__link" href="#">Книги</a></li>
                                <li class="files__item"><a class="files__link" href="#">Разное</a></li>
                                <li class="files__item"><a class="files__link" href="#">Трейлеры</a></li>
                                <li class="files__item"><a class="files__link" href="#">Патчи</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

        </article>

    </div>
{% endblock %}
