{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        <nav class="breadcrumbs__block">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="index.html">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#"> Dragon Age: Inquisition </a>
                </li>
                <li class="breadcrumbs__item">
                    Dragon Age: Inquisition — Дополнение для коллективной игры «Драконоборец»
                </li>
            </ul>
        </nav>
        <article class="article">
            <header class="article__header">
                <div>
                    <h1 class="article__title">
                        Галерея Dragon Age: Inquisition
                    </h1>
                </div>
                <a class="article-list__title-image" href="/news/game.html?gameUrl=dragon_age_inquisition"
                   title="Dragon Age: Inquisition">
                    <img width="150" src="http://assets.bioware.ru/images/games/small/dragon_age_3.png"
                         alt="Dragon Age: Inquisition">
                </a>
            </header>
            <div id="nanoGallery">
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6992/180/140"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/4bxfiiq8jhm.jpg"
                   data-ngdesc="Смотри еще на <a href='http://bioware.ru'>bioware.ru</a>">
                </a>

                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6930/180/140"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/character's%20art.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6963/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/wallpaper/daiwallpaperwidehdkeyart%20copy.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6923/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/cole.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6922/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/solas.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6921/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/dorian.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6992/180/140"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/4bxfiiq8jhm.jpg">
                </a>

                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6930/180/140"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/character's%20art.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6963/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/wallpaper/daiwallpaperwidehdkeyart%20copy.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6923/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/cole.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6922/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/solas.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6921/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/dorian.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6992/180/140"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/4bxfiiq8jhm.jpg">
                </a>

                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6930/180/140"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/character's%20art.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6963/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/wallpaper/daiwallpaperwidehdkeyart%20copy.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6923/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/cole.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6922/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/solas.jpg">
                </a>
                <a data-ngthumb="http://www.bioware.ru/gallery/thumb/6921/180/110"
                   href="http://images.bioware.ru/dragon_age_inquisition/concept_art/dorian.jpg">
                </a>


            </div>
        </article>
        {% include "b-pagination.twig" %}
    </div>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
