{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        <nav class="breadcrumbs__block">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="index.html">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#"> Dragon Age: Inquisition </a>
                </li>
                <li class="breadcrumbs__item">
                    Dragon Age: Inquisition — Дополнение для коллективной игры «Драконоборец»
                </li>
            </ul>
        </nav>
        <article class="article">
            <header class="article__header">
                <div>
                    <h1 class="article__title">
                        Dragon Age III
                    </h1>
                </div>
            </header>
            <div class="b-text">
                <h3>
                    Информация
                </h3>

                <div class="game-info">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/2/22/Dragon_Age_Inquisition_cover.jpg"
                         alt="Dragon Age: Inquisition"
                         class="game-info__img"/>
                    <table class="game-info__table">
                        <tr>
                            <td>Издатель</td>
                            <td>Bioware</td>
                        </tr>
                        <tr>
                            <td>Официальный сайт</td>
                            <td><a href="http://www.bioware.com/en/">Bioware.com</a></td>
                        </tr>
                        <tr>
                            <td>Год издания</td>
                            <td>2013</td>
                        </tr>
                    </table>
                </div>

                <h3>
                    Об игре
                </h3>


                <p>Игрокам предстоит взять на себя роль главы Инквизиции — недавно возродившейся организации, целью
                    которой поставлено искоренить зло в землях Тедаса. К началу игры накапливается множество
                    событий, требующих расследования Инквизицией. Война, интриги, политические раздоры лишили ранее
                    влиятельные группы Тедаса возможности действовать с прежней эффективностью. Это серьёзная
                    проблема, учитывая разверзшиеся небеса и демонов, хлынувших оттуда. Игроки должны будут ответить
                    на эту новую угрозу, а также исследовать огромный мир, встречаться со старыми и новыми
                    персонажами и собирать силы для растущей Инквизиции.
                </p>
                <p><a href="#"><b>Обсудить на форуме</b></a></p>
                <div class="game-info__links-block">
                    <div class="game-info__links">
                        <h3>Последние статьи:</h3>
                        <p><a href="#">Какая-то ссылка</a></p>
                        <p><a href="#">Еще какая-то ссылка</a></p>
                        <p><a href="#">Какая-то ссылка</a></p>
                        <p><a href="#">Какая-то ссылка</a></p>
                    </div>
                    <div class="game-info__links">
                        <h3>Последнее в галерее:</h3>
                        <a href="#"><img src="http://api.dragonage.com/media/cache/full/content/dam/ea/DragonAgeInquisition/Characters/sera/sera-gallery-01.jpg"
                             alt=""/></a>
                        <a href="#"><img src="http://api.dragonage.com/media/cache/full/content/dam/ea/DragonAgeInquisition/Characters/morrigan/morrigan-gallery-01.jpg"
                             alt=""/></a>
                        <a href="#"><img src="http://api.dragonage.com/media/cache/full/content/dam/ea/DragonAgeInquisition/Characters/sera/sera-gallery-01.jpg"
                                         alt=""/></a>
                        <a href="#"><img src="http://api.dragonage.com/media/cache/full/content/dam/ea/DragonAgeInquisition/Characters/morrigan/morrigan-gallery-01.jpg"
                                         alt=""/></a>
                    </div>
                </div>

            </div>

            <footer class="article__footer">
                <div class="article__footer-controls">
                    <div class="article__share yashare-auto-init" data-yashareL10n="ru"
                         data-yashareQuickServices="vkontakte,facebook,twitter,gplus"
                         data-yashareTheme="counter"></div>
                </div>
            </footer>
        </article>
    </div>
{% endblock %}