{% extends "layout.twig" %}

{% block content %}
    <div class="article-list">
        {% for item in news %}
            {% include 'b-news.twig' with {'item':item,'full':false} %}
        {% endfor %}

        {% include "b-pagination.twig" %}
    </div>
{% endblock %}
