.sidebar
  float right
  width 225px
  margin 35px 30px 35px 0
.sidebar__content-wrp
  margin-top 30px
  border-radius 5px
  padding 15px
  background-color $sidebarColor
  color $fontColor
  box-shadow 4px 4px 4px black
.sidebar__image
  margin-top 30px
  img
    width 100%
.sidebar__poll
  margin-top 30px
.sidebar__poll-title
  font-size 1em
  line-height 1.4
  font-weight bold
  margin 0 0 20px
.sidebar__poll-fieldset
  border none
  margin-bottom 20px
  padding 0
  margin-left 0
.sidebar__poll-item
  font-size 0.9em
  line-height 1.35
  display block
  margin-bottom 5px
  padding-left 25px
  vertical-align top
  input
    margin-left -21px
    margin-right 8px
.sidebar__poll-submit
  font-weight bold
  text-shadow 0 -1px black
  color white
  padding 10px 20px
  background-color $sidebarButton
  border none
  cursor pointer
  &:hover
    background-color $linkColorHover